# Protect the htaccess file
<Files .htaccess>
Order Allow,Deny
Deny from all
</Files>

#<Files "add_checkin.php">
#Order Allow,Deny
#Deny from all
#</Files>

#<Files add_checkin.php>
  #AuthName "Login to add check ins"
  #AuthType Basic
  #AuthUserFile /home/dlennon/.htpasswd
  #<limit GET POST>
  #Require Valid User
  #</limit>
#</Files>


#SSLOptions +StrictRequire
#SSLRequireSSL
#SSLRequire %{HTTP_HOST} eq "test.sfsiren.net"
#ErrorDocument 403 https://test.sfsiren.net

RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
